*{
    padding: 0;
    margin: 0;
}
.menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

.menu li{
    display: inline-block;
    width: 100%;
}

.menu a:hover{
    color: red;
    background-color: lightblue;
    display: inline-block;
    padding: 40px 135.1px;
    
}

.menu li a{
    padding-bottom: 20px;
    padding-top: 100%;
    padding-left: 135.1px;
    padding-right: 135.1px;
    background-color: lightgreen;
    justify-content: space-between;
}
